[Unit]
Description=Webconsole
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple

ExecStart=/usr/local/bin/webconsole

ExecStop=kill $MAINPID
Restart=always
RestartSec=4
 
[Install]
WantedBy=default.target
